body1 {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

#container {
    display: flex;
    flex: 1;
}

/* Editor Bölümü */
#editor {
    flex: 2;
    padding: 10px;
    border-right: 1px solid #ccc;
}

#editor-header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#editor-header1 input {
    width: 30%;
    padding: 5px;
    font-size: 16px;
}

#editor-header1 button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

#code-area {
    width: 105vh;
    height: calc(70vh - 60px);
    border: 1px solid #ccc;
    padding: 10px;
    font-family: monospace;
    font-size: 14px;
    resize: none;
}

#terminal {
    width: 105vh;
    height: 20vh;
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 10px;
    overflow-y: auto;
    background: #f9f9f9;
}

/* Sidebar Bölümü */
#sidebar {
    flex: 1;
    padding: 10px;
}

#sidebar h3 {
    text-align: center;
    margin-bottom: 10px;
}

#strategies {
    border: 1px solid #ccc;
    padding: 10px;
    max-height: calc(90vh);
    overflow-y: auto;
}

/* Strateji Öğeleri */
.strategy-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    cursor: pointer;
    background: #f1f1f1;
}

.strategy-item:hover {
    background: #e2e2e2;
}

.delete-btn {
    background: rgb(255, 0, 0);
    color: white;
    border: none;
    padding: 2px 5px;
    font-size: 12px;
    cursor: pointer;
}

.delete-btn:hover {
    background: darkred;
}
