<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trading Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/backtest.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    {% load static %}
          
    <div class="container2">
        <!-- Sidebar -->
        <div class="sidebar">
            {% include 'leftmenu.html' %}
        </div>
        <!-- Main Content -->
        <div class="main-content2">
            <div class="charts2">
                <div class="chart2">
                    <h3>Kâr Grafiği</h3>
                    <canvas id="profitChart"></canvas>
                </div>
                <div class="chart">
                    <h3>Alım-Satım Yeri</h3>
                    <canvas id="tradeChart"></canvas>
                </div>
            </div>
            <div class="control-panel2">
                <h3>Veri Ayarları</h3>
                <form id="settingsForm">
                    <label for="pair">Verilik Seçin:</label>
                    <select id="pair">
                        <option>DOGEUSDT</option>
                        <option>BTCUSDT</option>
                    </select>
                    <label for="strategy">Strateji:</label>
                    <select id="strategy">
                        <option>1</option>
                        <option>2</option>
                    </select>
                    <label for="timeframe">Zaman Dilimi:</label>
                    <select id="timeframe">
                        <option>1 Saat</option>
                        <option>4 Saat</option>
                    </select>
                    <button type="submit">Backtest Yap</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
