<div>
    <a href="{% url 'home' %}">
        <button>Home</button>
    </a>

    {% if user.is_authenticated %}
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <a href="{% url 'logout' %}">
            <button>Çıkış Yap</button>
        </a>
    </form>
    {% else %}
        <a href="{% url 'login' %}">Giriş Yap</a>
    {% endif %}

    <a href="{% url 'backtest' %}">
        <button>Example Data</button>
    </a>
    <a href="{% url 'showData' %}">
        <button>Show Data</button>
    </a>
    <a href="{% url 'script' %}">
        <button>Metin Yazma</button>
    </a>
    <a href="{% url 'indicator_create' %}">
        <button>Indicator Creater</button>
    </a>
    <a href="{% url 'indicator_list' %}">
        <button>Indicator List</button>
    </a>
</div>