        <option value="btcusdt">BTC/USDT</option>
        <option value="ethusdt">ETH/USDT</option>
        <option value="ethusdt">SOL/USDT</option>
        <option value="ethusdt">XRP/USDT</option>
        <option value="ethusdt">DOGE/USDT</option>
        <option value="ethusdt">SUI/USDT</option>
        <option value="ethusdt">APT/USDT</option>
        <option value="ethusdt">ZK/USDT</option>
        <option value="ethusdt">SEI/USDT</option>
        <option value="ethusdt">ETFI/USDT</option>