<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indicator</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/indicator.css' %}">
</head>
<body>
  {% load static %}
    <div class="container">
    <div class="sidebar">
        <div class="profile">
            <div class="avatar" style="background-image: url('{% static "images/beluga.jpg" %}');"></div>
          <p>#userr0085852800</p>
          {% include 'leftmenu.html' %}
  
          <div id="chart-container"></div>
        <div id="tools">
          <select id="crypto-selector">
            <!-- Kripto paralar burada dinamik olarak eklenecek -->
          </select>
        </div>
      </div>
    

    <script src="https://cdn.jsdelivr.net/npm/lightweight-charts@4.0.0/dist/lightweight-charts.standalone.production.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{% static 'js/indicator.js' %}"></script>
</body>
</html>