<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Indicator</title>
    <style>
        .alert {
            background-color: #f8d7da;
            color: #721c24;
            border: 1px solid #f5c6cb;
            padding: 15px;
            margin-top: 20px;
            font-size: 1.1em;
            border-radius: 5px;
        }
        .alert ul {
            list-style-type: none;
            padding: 0;
        }
        .alert li {
            font-weight: bold;
            text-transform: uppercase;
        }
    </style>
</head>

<body>
    <!-- Menü dahil ediliyor -->
    {% include 'changePage.html' %}

    <h1>Create a New Indicator</h1>

    {% if form.errors %}
    <div class="alert alert-danger">
        <ul>
            {% for field, errors in form.errors.items %}
            <li>{{ field }}: {{ errors|striptags }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Form elemanlarını ekrana basar -->
        <button type="submit">Save</button>
    </form>
</body>

</html>
