<!DOCTYPE html>
<html lang="en">

<body>
    <!-- Menü dahil ediliyor -->
    {% include 'changePage.html' %}

</body>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Indicator</title>
</head>
<body>
    <h1>Create a New Indicator</h1>

    {% if form.errors %}
    <div class="alert alert-danger">
        <ul>
        {% for field, errors in form.errors.items %}
            <li>{{ field }}: {{ errors|striptags }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Form elemanlarını ekrana basar -->
        <button type="submit">Save</button>
    </form>
</body>
</html>
