<!DOCTYPE html>
<html>
<body>
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/deneme.css'%}">
</div>
<ul class="menu">
    <li><a href="mainmenu">Anasayfa</a></li>
    <li><a href="api">API ile kripto hesabını bağla</a></li>
    <li><a href="strategy">Strateji oluştur</a></li>
    <li><a href="backtest">Backtest</a></li>
    <li><a href="workingbot">Bot çalıştırma</a></li>
    <li><a href="sift">Strateji taraması</a></li>
    <li><a href="community">Topluluk</a></li>
    <li><a href="indicator">Indicator</a></li>
    <li><a href="logout">Log Out</a></li>
</ul>
</div>

</body>
</html>