<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anasayfa</title>
  
</head>
<body>

  {% load static %}
  <div class="container">
    <div class="sidebar">
      <div class="profile">
        <div class="avatar" style="background-image: url('{% static "images/beluga.jpg" %}');"></div>
        <p>#userr0085852800</p>
        {% include 'leftmenu.html' %}

    <!-- Ana İçerik -->
    <div class="main-content">
      <div class="header">
        <div class="user-info">
          <h2>Bilal Bostan</h2>
          <p>bilal67bostan67@gmail.com</p>
        </div>
        <div class="stats">
          <div>1 strateji</div>
          <div>2 aktif bot</div>
          <div>Portföy Büyüklüğü: <strong>19,300 $</strong></div>
          <div>28 takipçi</div>
          <div>51 takip</div>
        </div>
        <div class="settings">
          <button>Ayarlar</button>
        </div>
      </div>

      <div class="content">
        <div class="strategies">
          <h3>Stratejilerim</h3>
          <div class="strategy">Strateji 1</div>
        </div>

        <div class="transactions">
          <h3>Son İşlemler</h3>
          <div class="transaction">BTCUSDT satış 18.26</div>
        </div>

        <div class="portfolio">
          <h3>Portföy büyüklüğü</h3>
          <p>Günlük: <span>% -2,172</span></p>
          <p>Haftalık: <span>% +4,110</span></p>
          <p>Aylık: <span>% +12,866</span></p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>