<!DOCTYPE html>
<html>
<head>
    <title>Stock Data</title>
</head>
<body>
    <h1>BTC (Bitcoin) Stock Data</h1>

    <table border="1">
        <tr>
            <th>Date</th>
            <th>Open</th>
            <th>High</th>
            <th>Low</th>
            <th>Close</th>
            <th>Volume</th>
        </tr>
        {% for date, data in stock_info.items %}
        <tr>
            <td>{{ date }}</td>  <!-- Tarihler zaten formatlanmış olarak geliyor -->
            <td>{{ data.Open }}</td>
            <td>{{ data.High }}</td>
            <td>{{ data.Low }}</td>
            <td>{{ data.Close }}</td>
            <td>{{ data.Volume }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
