<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarama</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/sift.css' %}">
</head>
<body>

  {% load static %}
    <div class="container">
    <div class="sidebar">
        <div class="profile">
          <div class="avatar" style="background-image: url('{% static "images/beluga.jpg" %}');"></div>
          <p>#userr0085852800</p>
          {% include 'leftmenu.html' %}

            <div class="main-content">
                <div class="content">
                    <!-- Sol Sinyal Kutusu -->
                    <div class="signal-box">
                        <h3>Bir önceki mumda sinyal verenler</h3>
                        <div class="signal-list"></div>
                    </div>
                    <!-- Sağ Sinyal Kutusu -->
                    <div class="signal-box">
                        <h3>Anlık mumda sinyal verenler</h3>
                        <div class="signal-list"></div>
                    </div>
                    <!-- Kontroller -->
                    <div class="controls">
                        <label for="crypto-select">Kripto para ekleyin</label>
                        <select id="crypto-select">
                          {% include 'coinlist.html' %}
                        </select>
                        <div class="crypto-list-container">
                            <ul id="crypto-list"></ul>
                        </div>
                        <label for="strategy-select">Strateji seçin</label>
                        <select id="strategy-select">
                            <option value="strategy1">Strateji-1</option>
                            <option value="strategy2">Strateji-2</option>
                        </select>
                        <label for="period-select">Periyot seçin</label>
                        <select id="period-select">
                          <option value="5min">5 dk</option>
                          <option value="15min">15 dk</option>
                          <option value="30min">30 dk</option>
                          <option value="1h">1 saat</option>
                          <option value="4h">4 saat</option>
                          <option value="1d">1 gün</option>
                        </select>
                        <button id="scan-button">Tarama Yap</button>
                    </div>
                </div>
            </div>
        </div>
    <script src="{% static 'js/sift.js' %}"></script>
</body>
</html>