<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bot Çalıştırma</title>
    
</head>
<body>
  {% load static %}
    <div class="container">
    <div class="sidebar">
        <div class="profile">
          <div class="avatar" style="background-image: url('{% static "images/beluga.jpg" %}');"></div>
          <p>#userr0085852800</p>
          {% include 'leftmenu.html' %}
      BOT ÇALIŞTIRMA EKRANI
</body>
</html>